extends layout

block content
    div.container
        div.row
            form.form-inline(action="/searchMovie" method="post")
                .form-group
                    label Search for a movie
                    input.form-control#movie-search(type="text" name="movieSearch")
                .form-group
                    label Search for an actor
                    input.form-control#actor-search(type="text" name="actorSearch")
                input.btn.btn-primary(type="submit" value="search")
